/* App css */

button {
  height: 32px;
  width: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: auto;
}

.loader-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: #573f1ca3;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  font-size: 48px;
}

.loader .spinner {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-right: 15px;
  border: 6px solid white;
  border-top: 6px solid red;
  animation: spin 0.5s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

