.container {
    width: 420px;
    background-color: #f0f8ff;
}

.container input {
    height: 52px;
    width: 85%;
    font-size: larger;
    display: block;
    margin: 0 auto;
}

.container button {
    height: 38px;
    width: 64px;
    display: block;
    margin: 0 auto;
    color: #f0f8ff;
    background-color: #dc143c;
}
