@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Noto+Sans&display=swap');

body {
    height: 100vh;
    text-align: center;
    background-color: #1A090D;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-family: 'Edu TAS Beginner', cursive;
}
