* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    text-align: center;
    background-color: #cfc2c4;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}